@import './fonts/Oswald/font.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 5px;
  margin: 0 auto;
}

.row {
  width: 100%;
  padding: 5px;
}

.text_lable {
  font-size: 12px;
  line-height: 20.16px;
  font-weight: 300 !important;
  font-family: 'Oswald Extra Light', sans-serif;
  letter-spacing: 0.1em;
}

.icon_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 8px;
}

.icon_find::after {
  content: '';
  width: 100px;
  height: 100px;
  background-image: url('/public/search.svg');
}

/*================= Navbar Style Start =================*/

.nav {
  width: 100%;
}

.nav_discount {
  width: 100%;
  background-color: #fbfbfb;
  padding: 5px;
}

.nav_discount .container {
  display: flex;
  justify-content: center;
}

.nav_menu {
  padding: 16px 0;
}

.nav_menu .container {
  display: flex;
  justify-content: space-between;
}

.nav_page_list,
.nav_action_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav_page_item {
  padding: 0 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

/*================= Navbar Style END =================*/
