@font-face {
  font-family: 'Oswald Extra Light';
  src: url('./static/Oswald-ExtraLight.ttf');
  src: local('Oswald Extra Light'), local('Oswald-Extra-Light'),
    url('./static/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Light';
  src: url('./static/Oswald-Light.ttf');
  src: local('Oswald Light'), local('Oswald-Light'),
    url('./static/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./static/Oswald-Regular.ttf');
  src: local('Oswald Regular'), local('Oswald-Regular'),
    url('./static/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./static/Oswald-Medium.ttf');
  src: local('Oswald Medium'), local('Oswald-Medium'),
    url('./static/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./static/Oswald-Bold.ttf');
  src: local('Oswald Black'), local('Oswald-Black'),
    url('./static/Oswald-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
